*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

.container{
	width: 100%;
	height: 100vh;
	background: #ededff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile{
	width: 90%;
	max-width: 320px;
	background: #32384f;
	text-align: center;
	padding: 30px 20px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	color: #fff;
} 

.top-icons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	cursor: pointer;
}

.fa-heart{
	margin-right: 10px;
} 

.user-img{
	width: 110px;
	border-radius: 100%;
}

.profile h2{
	font-weight: bold;
	font-size: 22px;
	margin-top: 20px;
}

.profile p{
	font-size: 14px;
}

.btn{
	text-decoration: none;
	color: #fff;
	padding: 10px 40px;
	border-radius: 30px;
	background: linear-gradient(to right, #d69533, #f5410a);
	display: inline-block;
	margin: 40px 0;
	font-size: 15px;
	font-weight: bolder;
}

.social-media{
	display: flex;
	justify-content: space-around;
	cursor: pointer;
}

.social-media img{
	width: 60px;
	border-radius: 50px;
}

.social-media h3{
	font-weight: bold;
	font-size: 16px;
}

.social-media div{
	margin: 10px 0 30px;
}